# Core functionality - changes here should be rare!
/src/app.py                   @cmartin-gnrc
/src/backend/database.py      @cmartin-gnrc
/src/backend/routers/auth.py  @cmartin-gnrc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cmartin-gnrc
